.team-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.team-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.team-header h2 {
    font-size: 20px;
    font-weight: 600;
}
.team-header p {
    font-size: 14px;
    color: #888;
}
.team-header .dropdown {
    font-size: 14px;
}
.team-member {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #e9ecef;
}
.team-member:first-child {
    border-top: none;
}
.team-member img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.team-member .info {
    flex-grow: 1;
}
.team-member .info h4 {
    font-size: 16px;
    margin: 0;
}
.team-member .info p {
    font-size: 12px;
    color: #888;
    margin: 0;
}
.team-member .status {
    display: flex;
    gap: 5px;
}
.status-circle {
    width: 12px;
    height: 12px;
    border-radius: 10%;
    display: inline-block;
}

.status-circle--blue {
    background-color: blue;
}

.status-circle--red {
    background-color: red;
}

.status-circle--yellow {
    background-color: yellow;
}

.status-circle--gray {
    background-color: gray;
}
@media (min-width: 1024px) {
    .Box {
        width: 137%;
    }
}

